**/node_modules/
*.log
packages/npm/OFL.txt
.DS_Store
.pnp.*
.yarn/*
/files/*
package-lock.json
yarn.lock

!**/.gitkeep
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
